importMethodsFrom(Biobase, exprs, sampleNames)
##importMethodsFrom(BiocGenerics, intersect, lapply, order, paste)
importMethodsFrom(lumi, detection, plot)
importMethodsFrom(methylumi, summary)
importFrom(sfsmisc, D1D2)
importFrom(TTR, SMA)
export(CATplot)
exportMethods(sampleQC, sortedIqrPlot)
